/* 1 REM = 10PX */
html{
    font-size: 62,5%;
}


/* INDEX */

#fondoBeige{
    background-color: #F7ECDE;
}


.fondoEncabezado{
    background-color: #E9DAC1;
}


.menuPrincipal ul li{
    display: inline;
    list-style-type: none;

    padding-right: 35px;

    font-family: sans-serif;
    color: #54BAB9;

}


a{
    text-decoration: none;
    font-weight: 600;
    
}


ul{
    display: inline;
}


.icono{
    display: inline;
    width: 200px;
    height: 200px;
}




.colorCeleste{
    color: #54BAB9;
}

.estilosTexto{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;   
}

.estilosTexto2{
    font-weight: bold;
    font-family: sans-serif;
}


.espaciadoH2{
    margin-top: 70px;
}



.foto1{
    display: inline;
    width: 600px;
    height: 400px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.foto2{
    display: inline;
    width: 600px;
    height: 400px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;  
}

.foto3{
    display: inline;
    width: 600px;
    height: 400px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}





.proximamente1{
    display: inline;
    width: 500px;
    height: 500px;

    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.proximamente2{
    display: inline;
    width: 500px;
    height: 500px;

    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.proximamente3{
    display: inline;
    width: 700px;
    height: 500px;

    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}









.logo1{
    width: 40px;
    height: 40px;
}

.logo2{
    width: 65px;
    height: 45px;
}

.logo3{
    width: 45px;
    height: 45px;
}




footer p{
    color: #54BAB9;
}


.primerDiv{
    margin-top: 10rem;
    
    text-align: center;

    font-family: sans-serif;
    color: #54BAB9;
}

.derechosAutor{
    text-align: center;
    font-family: sans-serif;
    font-size: small;
}








/* PAGINA NOSOTROS */

.tituloUno{
    color: #54BAB9;
    font-weight: bold;
    font-family: sans-serif;
}

.textosGeneral{
    font-family: sans-serif;
    font-size: medium;
}


.listasDesordenadas{
    list-style-type: circle;
    list-style-position: inside;
    
    line-height: 30px;
}



.marginTitulo{
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 5px;

    border-bottom: solid 5px;
}


.marginSubtitulos{
    margin-top: 150px;
    margin-left: 20px;

    border-bottom: solid 5px;
}


.marginTextos{
    margin-top: 5px;
    margin-left: 70px;
    margin-bottom: 5px;
}


.separacionFooter{
    margin-top: 200px;
}







/* PAGINA CONTACTO */

.subtituloContacto{
    color: #54BAB9;
    font-family: sans-serif;
    font-weight: bold;
}

.tituloContacto{
    color: #54BAB9;
    font-weight: bold;
    font-family: sans-serif;

    border-bottom: solid 5px;

    margin-bottom: 50px;
}


.nombreBloque{
    display: block;

    margin-bottom: 30px;
    margin-left: 30px;
}

.correoBloque{
    display: block;

    margin-bottom: 30px;
    margin-left: 30px;

}

.CelularBloque{
    display: block;

    margin-bottom: 80px;
    margin-left: 30px;
}


.estilosTexto3{
    font-family: sans-serif;
}


.margenMensaje{
    margin-left: 30px;
    margin-bottom: 50px;
}

.margenPenultimo{
    margin-left: 30px;
    margin-bottom: 30px;
}

.margenUltimo{
    margin-left: 30px;
}

.posicionMapa{
    margin-left: 1600px;
}

.primerDiv2{
    margin-top: 3rem;
    
    text-align: center;

    font-family: sans-serif;
    color: #54BAB9;
}







/* PAGINA GALERIA */

.section1{
    display: inline;
    margin-left: 170px;
}

.section2{
    display: inline;
    margin-left: 170px;
}

.section3{
    display: inline;
    margin-left: 170px;
}

.subtituloGaleria{
    margin: 50px;
    text-align: center;
    border-bottom: solid 5px;
    font-family: sans-serif;
    font-weight: bold;
    color: #54BAB9
}


/* .sizeFoto1{
    height: 450px;
    width: 550px;
}

.sizeFoto2{
    height: 450px;
    width: 600px;
}

.sizeFoto3{
    height: 450px;
    width: 350px;
    margin-left: 170px;
}

.sizeFoto4{
    height: 400px;
    width: 570px;
}

.sizeFoto5{
    height: 380px;
    width: 550px;
    padding-bottom: 470px;
}

.sizeFoto6{
    height: 400px;
    width: 350px;
}

.sizeFoto7{
    height: 380px;
    width: 400px;
    margin-left: 170px;
    padding-bottom: 470px;
}

.sizeFoto8{
    height: 400px;
    width: 580px;
    margin-left: 170px;
}

.sizeFoto9{
    height: 380px;
    width: 550px;
    padding-bottom: 470px;
} */



.menuBajo{
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    color: #54BAB9;
}


.pruebaFotos{
    display: inline;
}


.margenGaleria{
    margin-bottom: 10rem;
}









/* PAGINA PRODUCTOS */

.tituloPrincipal{
    color: #54BAB9;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 50px;

    border-bottom: solid 5px;
}

.subtituloProductos{
    color: #54BAB9;
    font-family: sans-serif;
    font-weight: 300;

    margin-top: 40px;
}

.productosH3{
    color: #781C68;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    border: #781C68 solid 5px;
    width: 300px;

    margin-top: 100px;
    margin-left: 780px;
}

.tamañoJuegos{
    display: inline;
    height: 350px;
    width: 258px;
}

.nombresJuegos{
    display: inline;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 100;
}

.margenFotos{
    margin-left: 500px;
}

.paddingFotos{
    padding-right: 50px;
}

.margenTextos{
    margin-left: 530px;
}

.paddingTextos{
    padding-right: 170px;
}

.paddingFarcry{
    padding-left: 75px;
}

.topMargen{
    margin-top: 150px;
}

.espaciadoTexto{
    margin-left: 600px;
    padding-right: 220px;
}

.paddingGhost{
    padding-right: 150px;
}

.espaciadoMarvel{
    margin-left: 504px;
    padding-right: 115px;
}

.paddingNFS{
    padding-left: 170px;
}

.espaciadoTexto2{
    margin-left: 530px;
    padding-right: 150px;
}

.paddingSaints{
    padding-left: 170px;
}

.marginTop{
    color: #781C68;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    border: #781C68 solid 5px;
    width: 200px;

    margin-top: 200px;
    margin-left: 850px;
}

.espaciadoCatan{
    margin-left: 615px;
    padding-right: 250px;
}

.paddingTelestrations{
    padding-left: 230px;
}

.tamanoCatan{
    height: 350px;
    width: 300px;
    margin-left: 485px;
}

.tamanoExploding{
    height: 320px;
    width: 320px;
}

.tamanoTelestrations{
    height: 330px;
    width: 370px;
}

.estiloTabla{
    color: #54BAB9;
    font-family: sans-serif;
    margin-left: 765px;
    margin-top: 150px;

    border: #781C68 solid 3px;
    border-collapse: collapse;
    border-color: #781C68;
}







/* FLEXBOX Y GRIDS GALERÍA */

.flexboxNav{
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}


.gridGaleria{
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;

    justify-items: center;
    align-items: center;

    justify-content: stretch;
    align-content: center;

    grid-template-areas: 
    "foto3 foto1 foto2"
    "foto8 foto4 foto6"
    "foto7 foto5 foto9"
    ;
}


.foto3Galeria{
    grid-area: foto3;
    height: 450px;
    width: 350px;
}
.foto1Galeria{
    grid-area: foto1;
    height: 396px;
    width: 546px;
}
.foto2Galeria{
    grid-area: foto2;
    height: 396px;
    width: 546px;
}
.foto8Galeria{
    grid-area: foto8;
    height: 400px;
    width: 580px;
}
.foto4Galeria{
    grid-area: foto4;
    height: 403px;
    width: 570px;
}
.foto6Galeria{
    grid-area: foto6;
    height: 400px;
    width: 350px;
}
.foto7Galeria{
    grid-area: foto7;
    height: 380px;
    width: 400px;
}
.foto5Galeria{
    grid-area: foto5;
    height: 380px;
    width: 550px;
}
.foto9Galeria{
    grid-area: foto9;
    height: 380px;
    width: 550px;
}





/* FLEXBOX Y GRIDS INDEX */

.gridIndex{
    display: grid;

    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: -0.5fr -0.5fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    margin-left: 2rem;

    grid-template-areas:
    "titulo titulo titulo"
    "subtitulo subtitulo subtitulo"
    "subtitulo1 subtitulo1 subtitulo1"
    "img1 img2 img3"
    "subtitulo2 subtitulo2 subtitulo2"
    "img4 img5 img6"
    ;
}

.titulo{
    grid-area: titulo;
    color: #54BAB9;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.subtitulo{
    grid-area: subtitulo;
    text-align: center;
    color: #54BAB9;
    font-family: sans-serif;
    font-weight: bold;
}

.subtitulo1{
    grid-area: subtitulo1;
    color: #54BAB9;
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 6rem;
}

.subtitulo2{
    grid-area: subtitulo2;
    color: #54BAB9;
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 7rem;
}

.img1{
    grid-area: img1;

    width: 600px;
    height: 400px;
}

.img2{
    grid-area: img2;

    width: 600px;
    height: 400px;
}

.img3{
    grid-area: img3;

    width: 600px;
    height: 400px;
}

.img4{
    grid-area: img4;

    width: 500px;
    height: 500px;
}

.img5{
    grid-area: img5;

    width: 500px;
    height: 500px;
}

.img6{
    grid-area: img6;

    width: 600px;
    height: 500px;
}


.flexboxFooter{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 4rem;
}

.flexboxFooter section a img{
    margin-top: 1.5rem;
}






/* FLEXBOX Y GRID PRODUCTOS */
/* .gridProductos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(15, 2fr);
    grid-row-gap: 0.5rem;

    margin-left: 0rem;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

    grid-template-areas: 
    "none productoTitulo none"
    "none productoSubtitulo none"
    "none productoSubsubtitulo none"
    "productosimg1 productosimg2 productosimg3"
    "nombreimg1 nombreimg2 nombreimg3"
    "productosimg4 productosimg5 productosimg6"
    "nombre img4 nombreimg5 nombreimg6"
    "productosimg7 productosimg8 productosimg9"
    "nombreimg7 nombreimg8 nombreimg9"
    "productosimg10 productosimg11 productosimg12"
    "nombreimg10 nombreimg11 nombreimg12"
    "none productoSubsubtitulo2 none"
    "productosimg13 productosimg14 productosimg15"
    "nombreimg13 nombreimg14 nombreimg15"
    "none tablaProductos none";

}

.productoTitulo{
    grid-area: productoTitulo;
}

.productoSubtitulo{
    grid-area: productoSubtitulo;
}

.productoSubsubtitulo{
    grid-area: productoSubsubtitulo;
}

.productosimg1{
    grid-area: productosimg1;
}

.productosimg2{
    grid-area: productosimg2;
}

.productosimg3{
    grid-area: productosimg3;
}

.productosimg4{
    grid-area: productosimg4;
}

.productosimg5{
    grid-area: productosimg5;
}

.productosimg6{
    grid-area: productosimg6;
}

.productosimg7{
    grid-area: productosimg7;
}

.productosimg8{
    grid-area: productosimg8;
}

.productosimg9{
    grid-area: productosimg9;
}

.productosimg10{
    grid-area: productosimg10;
}

.productosimg11{
    grid-area: productosimg11;
}

.productosimg12{
    grid-area: productosimg12;
}

.productoSubsubtitulo2{
    grid-area: productoSubsubtitulo2;
}

.productosimg13{
    grid-area: productosimg13;
}
.productosimg14{
    grid-area: productosimg14;
}
.productosimg15{
    grid-area: productosimg15;
}

.tablaProductos{
    grid-area: tablaProductos;
}

.nombreimg1{
    grid-area: nombreimg1;
}

.nombreimg2{
    grid-area: nombreimg2;
}

.nombreimg3{
    grid-area: nombreimg3;
}

.nombreimg4{
    grid-area: nombreimg4;
}

.nombreimg5{
    grid-area: nombreimg5;
}

.nombreimg6{
    grid-area: nombreimg6;
}

.nombreimg7{
    grid-area: nombreimg7;
}

.nombreimg8{
    grid-area: nombreimg8;
}

.nombreimg9{
    grid-area: nombreimg9;
}

.nombreimg10{
    grid-area: nombreimg10;
}

.nombreimg11{
    grid-area: nombreimg11;
}

.nombreimg12{
    grid-area: nombreimg12;
}

.nombreimg13{
    grid-area: nombreimg13;
}
.nombreimg14{
    grid-area: nombreimg14;
}

.nombreimg15{
    grid-area: nombreimg15;
} */








/* FLEXBOX Y GRID CONTACTANOS */

.gridContacto{
    display: grid;

    grid-template-columns: 5fr;
    grid-template-rows: 0fr 1fr 1fr;

    grid-row-gap: 1fr;

    align-items: center;

    grid-template-areas: 
    "tituloProductos"
    "form"
    "mapa";
}

.tituloProductos{
    grid-area: tituloProductos;
}

.fomr{
    grid-area: form;
}

.mapa{
    grid-area: mapa;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-items: end;
} 












/* MEDIA QUERIES TABLET Y CELULAR PAGINA INDEX */

@media (max-width: 768px) {
    .flexboxNav{
        flex-direction: column;
        
    }

    .gridIndex{
        grid-template-columns: 0.5fr 0.5fr;
        grid-row-gap: 0.5rem;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;

        grid-template-areas: 
        "titulo titulo"
        "subtitulo subtitulo"
        "subtitulo1 subtitulo1"
        "img1 ."
        "img2 ."
        "img3 ."
        "subtitulo2 subtitulo2"
        "img4 ."
        "img5 ."
        "img6 .";
    }

    .titulo{
        font-size: larger;
        margin-top: 3rem;
    }

    .subtitulo{
        font-size: medium;
        margin-top: 0.5rem;
    }

    .subtitulo1{
        margin-top: 3rem;
    }


}



@media (max-width: 500px) {
    .flexboxNav{
        flex-direction: column;
    }

    .menuPrincipal ul li a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gridIndex{
        grid-template-columns: 19rem;
        grid-template-rows: repeat (10, 1rem);
        grid-row-gap: 0.5rem;

        margin-left: 0rem;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;

        grid-template-areas:
        "titulo"
        "subtitulo"
        "subtitulo1"
        "img1"
        "img2"
        "img3"
        "subtitulo2"
        "img4"
        "img5"
        "img6"
        ;
    }

    .titulo{
        font-size: medium;
        margin-top: 2rem;
    }

    .subtitulo{
        font-size: small;
        margin-top: 3rem;
    }

    .subtitulo1{
        font-size: smaller;
    }

    .img1{
        width: 25rem;
        height: 15rem;
    }

    .img2{
        width: 25rem;
        height: 15rem;
    }

    .img3{
        width: 25rem;
        height: 15rem;
    }

    .subtitulo2{
        font-size: smaller;
    }

    .img4{
        width: 20rem;
        height: 20rem;
    }

    .img5{
        width: 20rem;
        height: 20rem;
    }

    .img6{
        width: 20rem;
        height: 17rem;
    }

    .menuBajo{
        font-size: small;
    }

    .primerDiv{
        margin-top: 7rem;
    }

    .logo1{
        width: 20px;
        height: 20px;
    }

    .logo2{
        width: 34px;
        height: 23px;
    }

    .logo3{
        width: 25px;
        height: 25px;
    }
}







/* MEDIA QUERIE CELULAR PAGINA GALERIA */

@media (max-width: 500px) {
    .flexboxNav{
        flex-direction: column;
    }

    .gridGaleria{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 1rem;

        justify-content: center;

        grid-template-areas: 
        "foto3"
        "foto1"
        "foto2"
        "foto8"
        "foto4"
        "foto6"
        "foto7"
        "foto5"
        "foto9";
    }
    
    .foto1Galeria{
        height: 21.6rem;
        width: 27.5rem;
    }

    .foto2Galeria{
        height: 22rem;
        width: 30rem;
    }

    .foto8Galeria{
        height: 22rem;
        width: 30rem;
    }

    .foto4Galeria{
        height: 22rem;
        width: 30rem;
    }

    .foto5Galeria{
        height: 22rem;
        width: 30rem;
    }

    .foto9Galeria{
        height: 22rem;
        width: 30rem;
    }

    .margenGaleria{
        margin-bottom: 3rem;
        margin-top: 4rem;
    }

    .flexboxFooter{
        margin-top: 2rem;
    }
}







/* MEDIA QUERIE CELULAR PAGINA NOSOTROS */

@media (max-width:500px) {
    .marginTextos{
        margin-top: 0rem;
        margin-left: 0rem;
        margin-bottom: 0rem;
    }

    .marginTitulo{
        margin-top: 10rem;
        margin-left: 1.5rem;
    
        border-bottom: solid 5px #54BAB9;
    }
    
}







/* MEDIA QUERIE CELULAR PAGINA CONTACTO */

@media (max-width: 500px){
    .mapa{
        justify-content: center;
        margin-top: 19rem;
    }

    
}