#fondoBeige {
  background-color: #F7ECDE; }

.menuNav {
  background-color: #E9DAC1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .menuNav img {
    height: 13rem;
    width: 13rem; }
  .menuNav ul {
    list-style-type: none; }
    .menuNav ul li {
      display: inline;
      padding: 15px 15px;
      font-family: sans-serif; }
      .menuNav ul li a {
        text-decoration: none;
        font-weight: 600;
        color: #781C68; }

.textosGeneral {
  font-family: sans-serif;
  font-size: medium; }
  .textosGeneral li {
    margin-top: 5px;
    margin-left: 70px;
    margin-bottom: 5px; }

.tituloUno {
  color: #54BAB9;
  font-weight: bold;
  font-family: sans-serif; }

.marginTitulo {
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 5px;
  border-bottom: solid 5px; }

.listasDesordenadas {
  list-style-type: circle;
  list-style-position: inside;
  line-height: 30px; }

.tituloUno {
  color: #54BAB9;
  font-weight: bold;
  font-family: sans-serif; }

.marginSubtitulos {
  margin-top: 150px;
  margin-left: 20px;
  border-bottom: solid 5px; }

.primerDiv {
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
  color: #54BAB9; }
  .primerDiv a {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    color: #54BAB9;
    text-decoration: none; }

.flexboxFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem; }
  .flexboxFooter p {
    text-align: center;
    font-family: sans-serif;
    font-size: small;
    margin-top: 4rem;
    color: #54BAB9; }

.logo1 {
  width: 40px;
  height: 40px; }

.logo2 {
  width: 65px;
  height: 45px; }

.logo3 {
  width: 45px;
  height: 45px; }

.separacionFooter {
  margin-top: 20rem; }

.primerDiv {
  margin-top: 10rem;
  text-align: center;
  font-family: sans-serif;
  color: #54BAB9; }

.gridGaleria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  justify-items: center;
  align-items: center;
  justify-content: stretch;
  align-content: center;
  grid-template-areas: "foto3 foto1 foto2" "foto8 foto4 foto6" "foto7 foto5 foto9"; }

.foto3Galeria {
  grid-area: foto3;
  height: 450px;
  width: 350px; }

.foto1Galeria {
  grid-area: foto1;
  height: 396px;
  width: 546px; }

.foto2Galeria {
  grid-area: foto2;
  height: 396px;
  width: 546px; }

.foto8Galeria {
  grid-area: foto8;
  height: 400px;
  width: 580px; }

.foto4Galeria {
  grid-area: foto4;
  height: 403px;
  width: 570px; }

.foto6Galeria {
  grid-area: foto6;
  height: 400px;
  width: 350px; }

.foto7Galeria {
  grid-area: foto7;
  height: 380px;
  width: 400px; }

.foto5Galeria {
  grid-area: foto5;
  height: 380px;
  width: 550px; }

.foto9Galeria {
  grid-area: foto9;
  height: 380px;
  width: 550px; }

.gridGaleria img {
  filter: grayscale(100%);
  transition: filter 1.5s; }
  .gridGaleria img:hover {
    filter: none; }

.fondoNav {
  background-color: #E9DAC1; }

.subtituloGaleria {
  margin: 50px;
  text-align: center;
  border-bottom: solid 5px;
  font-family: sans-serif;
  font-weight: bold;
  color: #54BAB9; }

.margenGaleria {
  margin-bottom: 10rem; }

.nav-link {
  color: #781C68;
  font-family: sans-serif;
  font-weight: bold; }

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  color: #781C68;
  font-family: sans-serif;
  font-weight: bold; }
