#fondoBeige {
  background-color: #F7ECDE; }

.menuNav {
  background-color: #E9DAC1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .menuNav img {
    height: 13rem;
    width: 13rem; }
  .menuNav ul {
    list-style-type: none; }
    .menuNav ul li {
      display: inline;
      padding: 15px 15px;
      font-family: sans-serif; }
      .menuNav ul li a {
        text-decoration: none;
        font-weight: 600;
        color: #781C68; }

.titularNosotros, .subtituloNosotros {
  color: #54BAB9;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 4rem;
  margin-bottom: 1rem; }

.subtituloNosotros {
  margin-top: 9rem; }

.textosGeneral {
  font-family: sans-serif;
  font-size: medium; }
  .textosGeneral li {
    margin-top: 5px;
    margin-left: 70px;
    margin-bottom: 5px; }

.tituloUno {
  color: #54BAB9;
  font-weight: bold;
  font-family: sans-serif; }

.marginTitulo {
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 5px;
  border-bottom: solid 5px; }

.listasDesordenadas {
  list-style-type: circle;
  list-style-position: inside;
  line-height: 30px; }

.tituloUno {
  color: #54BAB9;
  font-weight: bold;
  font-family: sans-serif; }

.marginSubtitulos {
  margin-top: 150px;
  margin-left: 20px;
  border-bottom: solid 5px; }

.primerDiv {
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
  color: #54BAB9; }
  .primerDiv a {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    color: #54BAB9;
    text-decoration: none; }

.flexboxFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem; }
  .flexboxFooter p {
    text-align: center;
    font-family: sans-serif;
    font-size: small;
    margin-top: 4rem;
    color: #54BAB9; }

.logo1 {
  width: 40px;
  height: 40px; }

.logo2 {
  width: 65px;
  height: 45px; }

.logo3 {
  width: 45px;
  height: 45px; }

.separacionFooter {
  margin-top: 20rem; }

.primerDiv {
  margin-top: 10rem;
  text-align: center;
  font-family: sans-serif;
  color: #54BAB9; }

.gridGaleria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  justify-items: center;
  align-items: center;
  justify-content: stretch;
  align-content: center;
  margin-right: 2rem;
  grid-template-areas: "foto3 foto1 foto2" "foto8 foto4 foto6" "foto7 foto5 foto9"; }

.foto3Galeria {
  grid-area: foto3;
  height: 450px;
  width: 350px; }

.foto1Galeria {
  grid-area: foto1;
  height: 396px;
  width: 546px; }

.foto2Galeria {
  grid-area: foto2;
  height: 396px;
  width: 546px; }

.foto8Galeria {
  grid-area: foto8;
  height: 400px;
  width: 580px; }

.foto4Galeria {
  grid-area: foto4;
  height: 403px;
  width: 570px; }

.foto6Galeria {
  grid-area: foto6;
  height: 400px;
  width: 350px; }

.foto7Galeria {
  grid-area: foto7;
  height: 380px;
  width: 400px; }

.foto5Galeria {
  grid-area: foto5;
  height: 380px;
  width: 550px; }

.foto9Galeria {
  grid-area: foto9;
  height: 380px;
  width: 550px; }

.gridGaleria img {
  filter: grayscale(100%);
  transition: filter 1.5s; }
  .gridGaleria img:hover {
    filter: none; }

.fondoNav {
  background-color: #E9DAC1; }

.subtituloGaleria {
  margin: 50px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  color: #54BAB9; }

.margenGaleria {
  margin-bottom: 10rem; }

.nav-link {
  color: #781C68;
  font-family: sans-serif;
  font-weight: bold; }

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  color: #781C68;
  font-family: sans-serif;
  font-weight: bold; }

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%; }

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "foto1 foto2 foto3" "foto4 foto5 foto6" "foto7 foto8 foto9" "foto10 foto11 foto12";
  grid-gap: 20px; }

.gallery1 {
  grid-area: foto1; }

.gallery2 {
  grid-area: foto2; }

.gallery3 {
  grid-area: foto3; }

.gallery4 {
  grid-area: foto4; }

.gallery5 {
  grid-area: foto5; }

.gallery6 {
  grid-area: foto6; }

.gallery7 {
  grid-area: foto7; }

.gallery8 {
  grid-area: foto8; }

.gallery9 {
  grid-area: foto9; }

.gallery10 {
  grid-area: foto10; }

.gallery11 {
  grid-area: foto11; }

.gallery12 {
  grid-area: foto12; }

.gallery img {
  width: 100%; }

.gallery img {
  filter: grayscale(100%);
  transition: filter 1.5s; }

.gallery img:hover {
  filter: none; }

.tituloMap {
  color: #54BAB9;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center; }

.subtitulo {
  grid-area: subtitulo;
  text-align: center;
  color: #54BAB9;
  font-family: sans-serif;
  font-weight: bold; }

.subtitulo1 {
  grid-area: subtitulo1;
  color: #781C68;
  font-family: sans-serif;
  font-weight: 300;
  margin-top: 6rem;
  margin-left: 1rem;
  text-align: center; }

.subtitulo2 {
  grid-area: subtitulo2;
  color: #781C68;
  font-family: sans-serif;
  font-weight: 300;
  margin-top: 15rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  text-align: center; }

.footerIndex {
  margin-top: 10rem; }
  .footerIndex p {
    text-align: center;
    font-family: sans-serif;
    font-size: small;
    margin-top: 4rem;
    color: #54BAB9; }
  .footerIndex div {
    display: flex;
    flex-direction: row;
    justify-content: center; }

.logo1 {
  width: 40px;
  height: 40px; }

.logo2 {
  width: 65px;
  height: 45px; }

.logo3 {
  width: 45px;
  height: 45px; }

/* CAMBIOS BOOTSTRAP */
.bg-light {
  --bs-bg-opacity: 0;
  background-color: #E9DAC1; }

.width {
  width: 800px; }

.width2 {
  width: 500px; }

.card {
  --bs-card-bg: #F7ECDE;
  --bs-card-border-color: #781C68;
  --bs-card-title-spacer-y: 1.5rem; }

.btn-primary {
  --bs-btn-color: #781c68;
  --bs-btn-bg: #54BAB9;
  --bs-btn-border-color: #54BAB9;
  --bs-btn-hover-color: #54BAB9;
  --bs-btn-hover-bg: #781C68;
  --bs-btn-hover-border-color: #781C68;
  --bs-btn-active-color: #54BAB9;
  --bs-btn-active-bg: #781C68;
  --bs-btn-active-border-color: #54BAB9;
  font-family: sans-serif;
  font-weight: 600; }

.nav-link {
  color: #781C68;
  font-family: sans-serif;
  font-weight: bold; }

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  color: #781C68;
  font-family: sans-serif;
  font-weight: bold; }

@media (min-width: 1200px) {
  .h3, h3 {
    font-size: 1.7rem; } }

.footerIndex {
  margin-top: 10rem; }

.titularProductos {
  color: #54BAB9;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem; }

.subtituloProductos {
  color: #54BAB9;
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
  margin-top: 40px; }

.productosH3 {
  color: #781C68;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px; }

.marginTop {
  color: #781C68;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 200px; }

/* .estiloTabla{
    color: #54BAB9;
    font-family: sans-serif;
    margin-left: 765px;
    margin-top: 150px;

    border: #781C68 solid 3px;
    border-collapse: collapse;
    border-color: #781C68;
} */
.estiloTabla {
  margin-left: auto;
  margin-right: auto;
  margin-top: 14rem;
  color: #54BAB9;
  font-family: sans-serif;
  border: #781C68 solid 3px;
  border-collapse: collapse;
  border-color: #781C68;
  text-align: center; }

.menuBajo {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  color: #54BAB9; }

.primerDiv2 {
  margin-top: 3rem;
  text-align: center;
  font-family: sans-serif;
  color: #54BAB9; }

.footerProductos {
  margin-top: 8rem; }

.gridContacto {
  display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: 0fr 1fr 1fr;
  grid-row-gap: 1fr;
  align-items: center;
  grid-template-areas: "tituloProductos" "form" "mapa"; }

.tituloProductos {
  grid-area: tituloProductos; }

.form {
  grid-area: form; }

.mapa {
  grid-area: mapa;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: end;
  margin-right: 5px; }

.estilosTexto3 {
  font-family: sans-serif; }

.nombreBloque {
  display: block;
  margin-bottom: 30px;
  margin-left: 30px; }

.correoBloque {
  display: block;
  margin-bottom: 30px;
  margin-left: 30px; }

.CelularBloque {
  display: block;
  margin-bottom: 80px;
  margin-left: 30px; }

.margenMensaje {
  margin-left: 30px;
  margin-bottom: 50px; }

.subtituloContacto {
  color: #54BAB9;
  font-family: sans-serif;
  font-weight: bold; }

.margenPenultimo {
  margin-left: 30px;
  margin-bottom: 30px; }

.margenUltimo {
  margin-left: 30px; }

.mapa {
  grid-area: mapa;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: end; }

.form-control {
  width: 35%; }

.formContacto {
  margin-left: 3rem; }

.btn-primary {
  margin-top: 1.5rem; }

html {
  font-size: 62,5%; }

/* MEDIA QUERIES PAGINA INDEX */
@media (max-width: 768px) {
  .flexboxNav {
    flex-direction: column; }
  .gridIndex {
    grid-template-columns: 0.5fr 0.5fr;
    grid-row-gap: 0.5rem;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-areas: "titulo titulo" "subtitulo subtitulo" "subtitulo1 subtitulo1" "img1 ." "img2 ." "img3 ." "subtitulo2 subtitulo2" "img4 ." "img5 ." "img6 ."; }
  .titulo {
    font-size: larger;
    margin-top: 3rem; }
  .subtitulo {
    font-size: medium;
    margin-top: 0.5rem; }
  .subtitulo1 {
    margin-top: 3rem; } }

@media (max-width: 500px) {
  .flexboxNav {
    flex-direction: column; }
  .menuPrincipal ul li a {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .gridIndex {
    grid-template-columns: 19rem;
    grid-template-rows: repeat 10, 1rem;
    grid-row-gap: 0.5rem;
    margin-left: 0rem;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-areas: "titulo" "subtitulo" "subtitulo1" "img1" "img2" "img3" "subtitulo2" "img4" "img5" "img6"; }
  .titulo {
    font-size: medium;
    margin-top: 2rem; }
  .subtitulo {
    font-size: small;
    margin-top: 3rem; }
  .subtitulo1 {
    font-size: smaller; }
  .img1 {
    width: 25rem;
    height: 15rem; }
  .img2 {
    width: 25rem;
    height: 15rem; }
  .img3 {
    width: 25rem;
    height: 15rem; }
  .subtitulo2 {
    font-size: smaller;
    margin-top: 9rem; }
  .img4 {
    width: 20rem;
    height: 20rem; }
  .img5 {
    width: 20rem;
    height: 20rem; }
  .img6 {
    width: 20rem;
    height: 17rem; }
  .menuBajo {
    font-size: small; }
  .primerDiv {
    margin-top: 7rem; }
  .logo1 {
    width: 20px;
    height: 20px; }
  .logo2 {
    width: 34px;
    height: 23px; }
  .logo3 {
    width: 25px;
    height: 25px; } }

/* MEDIA QUERIE PAGINA GALERIA */
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 1rem;
    justify-content: center;
    grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7 foto8" "foto9 foto10" "foto11 foto12"; } }

@media (max-width: 540px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: "foto1" "foto2" "foto3" "foto4" "foto5" "foto6" "foto7" "foto8" "foto9" "foto10" "foto11" "foto12"; }
  .gallery img {
    filter: grayscale(0%); } }

@media (max-width: 400px) {
  .primerDiv {
    display: flex;
    flex-direction: column; } }

@media (max-width: 1200px) {
  .gallery img {
    filter: grayscale(0%); } }

/* MEDIA QUERIE PAGINA NOSOTROS */
@media (max-width: 500px) {
  .marginTextos {
    margin-top: 0rem;
    margin-left: 0rem;
    margin-bottom: 0rem; }
  .marginTitulo {
    margin-top: 10rem;
    margin-left: 1.5rem;
    border-bottom: solid 5px #54BAB9; }
  .menuPrincipal ul li {
    background-color: none;
    border: 0ch;
    border-radius: 0ch; }
  .menuPrincipal ul li:hover {
    box-shadow: none;
    transform: none; } }

/* MEDIA QUERIE PAGINA CONTACTO */
@media (max-width: 1024px) {
  .form-control {
    width: 35%; } }

@media (max-width: 500px) {
  .mapa {
    justify-content: center;
    margin-top: 19rem; }
  .form-control {
    width: 35%; } }

@media (max-width: 469px) {
  form {
    width: 80%; }
  input[type=text], textarea {
    width: 80%; }
  .form-control {
    width: 35%; } }

@media (max-width: 404px) {
  .primerDiv2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem; }
  .menuBajo {
    padding-bottom: 1.5rem; }
  .margenPenultimo {
    padding-right: 10rem; }
  .form-control {
    width: 35%; } }

@media (max-width: 300px) {
  iframe {
    width: 40%;
    height: 20%; } }

/* MEDIA QUERIE PAGINA PRODUCTOS */
@media (max-width: 766px) {
  .productosH3 {
    margin-top: 11rem; } }

@media (max-width: 425px) {
  .estiloTabla {
    display: none; } }

.navbar-nav {
  --bs-nav-link-hover-color: #781C68; }

.fondoNav {
  background-color: #E9DAC1; }

.primerDiv a:hover {
  color: #781C68; }

.primerDiv2 {
  margin-top: 3rem;
  text-align: center;
  font-family: sans-serif;
  color: #54BAB9; }

.primerDiv2 a:hover {
  color: #781C68; }

.navbar-collapse {
  margin-left: 2rem; }
