.gridGaleria{
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;

    justify-items: center;
    align-items: center;

    justify-content: stretch;
    align-content: center;

    margin-right: 2rem;

    grid-template-areas: 
    "foto3 foto1 foto2"
    "foto8 foto4 foto6"
    "foto7 foto5 foto9"
    ;
}


@mixin sizes ($grid-area,$height, $width){
    grid-area: $grid-area;
    height: $height;
    width: $width;
}

.foto3Galeria{
    @include sizes (foto3, 450px, 350px)
}

.foto1Galeria{
    @include sizes (foto1, 396px, 546px)
}

.foto2Galeria{
    @include sizes (foto2, 396px, 546px)
}

.foto8Galeria{
    @include sizes (foto8, 400px, 580px)
}

.foto4Galeria{
    @include sizes (foto4, 403px, 570px)
}

.foto6Galeria{
    @include sizes (foto6, 400px, 350px)
}

.foto7Galeria{
    @include sizes (foto7, 380px, 400px)
}

.foto5Galeria{
    @include sizes (foto5, 380px, 550px)
}

.foto9Galeria{
    @include sizes (foto9, 380px, 550px)
}





.gridGaleria img{
    filter: grayscale(100%);
    transition: filter 1.5s;
    &:hover{
        filter: none;
    }
}

.fondoNav{
    background-color: #E9DAC1;
}



.subtituloGaleria{
    margin: 50px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #54BAB9
}

.margenGaleria{
    margin-bottom: 10rem;
}

.nav-link{
    color: #781C68;
    font-family: sans-serif;
    font-weight: bold;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #781C68;
    font-family: sans-serif;
    font-weight: bold;
}



