.gridGaleria{
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;

    justify-items: center;
    align-items: center;

    justify-content: stretch;
    align-content: center;

    margin-right: 2rem;

    grid-template-areas: 
    "foto3 foto1 foto2"
    "foto8 foto4 foto6"
    "foto7 foto5 foto9"
    ;
}


@mixin sizes ($grid-area,$height, $width){
    grid-area: $grid-area;
    height: $height;
    width: $width;
}

.foto3Galeria{
    @include sizes (foto3, 450px, 350px)
}

.foto1Galeria{
    @include sizes (foto1, 396px, 546px)
}

.foto2Galeria{
    @include sizes (foto2, 396px, 546px)
}

.foto8Galeria{
    @include sizes (foto8, 400px, 580px)
}

.foto4Galeria{
    @include sizes (foto4, 403px, 570px)
}

.foto6Galeria{
    @include sizes (foto6, 400px, 350px)
}

.foto7Galeria{
    @include sizes (foto7, 380px, 400px)
}

.foto5Galeria{
    @include sizes (foto5, 380px, 550px)
}

.foto9Galeria{
    @include sizes (foto9, 380px, 550px)
}





.gridGaleria img{
    filter: grayscale(100%);
    transition: filter 1.5s;
    &:hover{
        filter: none;
    }
}

.fondoNav{
    background-color: #E9DAC1;
}



.subtituloGaleria{
    margin: 50px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #54BAB9
}

.margenGaleria{
    margin-bottom: 10rem;
}

.nav-link{
    color: #781C68;
    font-family: sans-serif;
    font-weight: bold;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #781C68;
    font-family: sans-serif;
    font-weight: bold;
}



.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "foto1 foto2 foto3"
    "foto4 foto5 foto6"
    "foto7 foto8 foto9"
    "foto10 foto11 foto12";

    grid-gap: 20px;
}

.gallery1{
    grid-area: foto1;
}
.gallery2{
    grid-area: foto2;
}
.gallery3{
    grid-area: foto3;
}
.gallery4{
    grid-area: foto4;
}
.gallery5{
    grid-area: foto5;
}
.gallery6{
    grid-area: foto6;
}
.gallery7{
    grid-area: foto7;
}
.gallery8{
    grid-area: foto8;
}
.gallery9{
    grid-area: foto9;
}
.gallery10{
    grid-area: foto10;
}
.gallery11{
    grid-area: foto11;
}
.gallery12{
    grid-area: foto12;
}

.gallery img{
    width:100%
}



.gallery img{
    filter: grayscale(100%);
    transition: filter 1.5s
}

.gallery img:hover{
    filter: none;
}