$titulosPrincipales:(
    tono: #54BAB9,
    letra: sans-serif,
    negrita: bold,
    alineacion: center
);

.tituloMap{
    color: map-get($titulosPrincipales , tono );
    font-family: map-get($titulosPrincipales , letra );
    font-weight: map-get($titulosPrincipales , negrita );
    text-align: map-get($titulosPrincipales , alineacion );
}


.subtitulo{
    grid-area: subtitulo;
    text-align: center;
    color: #54BAB9;
    font-family: sans-serif;
    font-weight: bold;
}

.subtitulo1{
    grid-area: subtitulo1;
    color:#781C68;
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 6rem;
    margin-left: 1rem;
    text-align: center;
}

.subtitulo2{
    grid-area: subtitulo2;
    color:#781C68;
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 15rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}



.footerIndex{
    margin-top: 10rem;
    p{
        text-align: center;
        font-family: sans-serif;
        font-size: small;
        margin-top: 4rem;
        color: #54BAB9;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

.logo1{
    width: 40px;
    height: 40px;
}

.logo2{
    width: 65px;
    height: 45px;
}

.logo3{
    width: 45px;
    height: 45px;
}


/* CAMBIOS BOOTSTRAP */

.bg-light {
    --bs-bg-opacity: 0;
    background-color: #E9DAC1;
}

.width{
    width: 800px;
}

.width2{
    width: 500px;
}

.card{
    --bs-card-bg: #F7ECDE;
    --bs-card-border-color: #781C68;
    --bs-card-title-spacer-y: 1.5rem;
}

.btn-primary {
    --bs-btn-color: #781c68;
    --bs-btn-bg: #54BAB9;
    --bs-btn-border-color: #54BAB9;
    --bs-btn-hover-color: #54BAB9;
    --bs-btn-hover-bg: #781C68;
    --bs-btn-hover-border-color: #781C68;
    --bs-btn-active-color: #54BAB9;
    --bs-btn-active-bg: #781C68;
    --bs-btn-active-border-color: #54BAB9;

    font-family: sans-serif;
    font-weight: 600;
}

.nav-link{
    color: #781C68;
    font-family: sans-serif;
    font-weight: bold;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #781C68;
    font-family: sans-serif;
    font-weight: bold;
}

@media (min-width: 1200px){
    .h3, h3{
    font-size: 1.7rem;
    }
}


.footerIndex{
    margin-top: 10rem;
}