#fondoBeige{
    background-color: #F7ECDE;
}

.menuNav{
    background-color: #E9DAC1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img{
        height: 13rem;
        width: 13rem;
    }
    ul{
        list-style-type: none;
        li{
            display: inline;
            padding: 15px 15px;
            font-family: sans-serif;
            a{
                text-decoration: none;
                font-weight: 600;
                color: #781C68;
            }
        }

    }
}



.titularNosotros{
    color:#54BAB9;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.subtituloNosotros{
    @extend .titularNosotros;
    margin-top: 9rem;
}

.textosGeneral{
    font-family: sans-serif;
    font-size: medium;
    li{
        margin-top: 5px;
        margin-left: 70px;
        margin-bottom: 5px;
    }
}

.tituloUno{
    color: #54BAB9;
    font-weight: bold;
    font-family: sans-serif;
}

.marginTitulo{
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 5px;

    border-bottom: solid 5px;
}

.listasDesordenadas{
    list-style-type: circle;
    list-style-position: inside;
    
    line-height: 30px;
}

.tituloUno{
    color: #54BAB9;
    font-weight: bold;
    font-family: sans-serif;
}

.marginSubtitulos{
    margin-top: 150px;
    margin-left: 20px;

    border-bottom: solid 5px;
}


.primerDiv{
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    color: #54BAB9;
    a{
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
        color: #54BAB9;
        text-decoration: none;
    }
}














.flexboxFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    p{
        text-align: center;
        font-family: sans-serif;
        font-size: small;
        margin-top: 4rem;
        color: #54BAB9;
    }
}

.logo1{
    width: 40px;
    height: 40px;
}

.logo2{
    width: 65px;
    height: 45px;
}

.logo3{
    width: 45px;
    height: 45px;
}

.separacionFooter{
    margin-top: 20rem;
}

.primerDiv{
    margin-top: 10rem;
    text-align: center;
    font-family: sans-serif;
    color: #54BAB9;
}